/* style.css */
body {
  font-family: poltawski Nowy;
  color: black;
  font-size: 18px;
  background-color: #E9E2DE;
}

h1 {
  font-family: pt sans-serif;
  color: white;
  font-size: 30px ;
  text-decoration: !important;
  text-align: center;
}

h2 {
  font-family: noto serif;
  color: black;
}

h3 {
  font-family: chivo;
  color: black;
}
a {
  color: rouge;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #CE2FAE;
}

.container{
	width: 1200px;
	margin: auto;
}

.container h2 p {
	text-align: right;
}

.banner{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("images/banner.png");
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	Text-align: center;
}

.banner h1{ 
  color: White;
  font-size: 45px;
  margin: 0;
}

.banner p { 
  color: lightblue;
  font-size:24px;
}

.button-blue { 
  background-color: White;
  padding: 18px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: 3s;
}

.cards { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr  ;
  grid-gap: 10px;
  margin-bottom: 2Px;
}


.cards-White { 
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 250px;
  text-align: center;
  padding: 24px;
  margin-bottom: 8Px;
}

.cards-White img { 
  width: 250px;
  freight: 100px;
  object-fit: cover;
  border-radius: 4pc;
  text-align: center;
}

.cards-White h3 { 
	margin-botton: 0 ;
}

.footer { 
  background-color: lightblack;
  padding: 18px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: 3s;
}

   